.test-header {
    padding-top: 3mm;
    padding-bottom: 3mm;
    background-color: #CCCCCC;
}

.test {
}

.test-success {
    background-color: #00FF00;
}

.test-fail {
    background-color: #FFFF00;
}

.test-error {
    background-color: #FF0000;
}

.yadrol-value {
    font-family: mono;
}

#sample-records {
}

#sample-records-graph {
    height: 7cm;
}