.test-header {
    padding-top: 3mm;
    padding-bottom: 3mm;
    background-color: #CCCCCC;
}

.test {
}

.test-success {
    background-color: #00FF00;
}

.test-fail {
    background-color: #FFFF00;
}

.test-error {
    background-color: #FF0000;
}

.yadrol-value {
    font-family: mono;
}

#header {
    margin-top: 3mm;
    margin-bottom: 3mm;
}

#run-button {
    margin-top: 3mm;
}

.output-mode-icon {
    height: 2ex;
    margin-right: 3mm;
}

#sample-records {
}

#sample-records-graph {
    height: 7cm;
}
