.project
.settings/
yadrol-cli/.classpath
yadrol-cli/.project
yadrol-cli/.settings/
yadrol-cli/target/
yadrol-core/.classpath
yadrol-core/.project
yadrol-core/.settings/
yadrol-core/target/
yadrol-web/.classpath
yadrol-web/.project
yadrol-web/.settings/
yadrol-web/target/
yadrol-web/src/main/webapp/icons/free-collections
docs/.sass-cache/
docs/_site/
docs/Gemfile.lock
