@CHARSET "UTF-8";

/**
   Copyright 2016-2017, Robert Bossy

   This file is part of Yadrol.

   Yadrol is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Yadrol is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Yadrol.  If not, see <http://www.gnu.org/licenses/>.
**/

body {
	
}

#header {
	margin-bottom: 10mm;
}

#toolbar {
	margin-top: 2ex;
}

#expression-string-box {
	margin-bottom: 10mm;
}

#expression-string {
	font-family: monospace;
	font-size: 150%;
}

#button-run {
	margin-left: 5mm;
	width: 30mm;
}

#sample-records {
	height: 7cm;
}

.dice-type {}

.tryit {
	cursor: pointer;
	font-weight: bold;
}
